body{background-color: #85c1e9;}
h1{color: #e82323; font-family: Garmond; font-size: 40px;}
p{color: #180202; font-family: Garmond; font-size: 30px;}
a{color: #180202; font-family: Time New Roman; font-size: 20px;}