body{background-color: #e9ec06;}
h1{color: #06aaec; font-family: Garmond; font-size: 40px;}
p{color: #180202; font-family: Garmond; font-size: 30px;}
a{color: #180202; font-family: Time New Roman; font-size: 20px;}